POSTGRES_DB=socmaturity
POSTGRES_USER=socuser
POSTGRES_PASSWORD=change_me_strong_password
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=change_me_grafana_password
WAZUH_WEBHOOK_TOKEN=change_me_webhook_token
STIX_BUNDLE_PATH=stix/enterprise-attack.json
